@model ProjetFinal_2050189.ViewModels.UploadPhotoGammeVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AJOUTEZ UNE PHOTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class ="form-group">
                <input type="hidden" asp-for="GammeID" value="@Model.GammeID" />
                <span asp-validation-for="GammeID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="FormFile">Fichier image: </label>
                <input id="FormFile" name="FormFile" type="file" accept="image/*" class="form-control-file" />
                <span asp-validation-for="FormFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Téléverser" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
