@model IEnumerable<ProjetFinal_2050189.ViewModels.MagasinInfoVM>

@{
    ViewData["Title"] = "ProduitsVendusEtNombreVendusMagasin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ProduitsVendusEtNombreVendusMagasin</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProduitVenduParMagasin)
            </th>
            <th>
                Nombre d'articles en stock
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProduitVenduParMagasin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProduitVenduParMagasin.Count())
                </td>
            </tr>
        }
    </tbody>
</table>