@model IEnumerable<ProjetFinal_2050189.Models.Produit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ACCUEIL</h1>

<br />

<h2>Les pages des migrations sont en couleurs.</h2>