@model ProjetFinal_2050189.ViewModels.PrixProduitVM

<a asp-action="Index">Retour à l'index</a>
<br />

<form asp-action="PrixDuProduit" enctype="multipart/form-data">

    <H2>Essayez ces données pour tester</H2>
    <p>Nom : Brume Brazilian</p>
    <p>Format : Petit</p>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Nom" class="control-label"></label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Format" class="control-label"></label>
        <input asp-for="Format" class="form-control" />
        <span asp-validation-for="Format" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Chercher" class="btn btn-primary" />
    </div>
</form>

@if(Model.Prix != null)
{
    <h3>Prix payés pour ce produit</h3>
    <ul>
        @foreach (var item in Model.Prix)
        {
            <li>@item</li>
        }
    </ul>
}

<p>Temps : @ViewData["temps"] millisecondes</p>



